.dropdownContainer {
    position: relative;
    display: inline-block;
  }
  
  .dashbord {
    width: 120px;
    position: relative;
    height: 40px;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .dashbord::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    transition: 0.5s;
    transform-origin: center;
  }
  
  .dashbord::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    transition: 0.5s;
  }
  
  .dashbord:hover::before, button:hover::after {
    transform: scale(0)
  }
  
  .dashbord:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
  }
  
  .dropdown {
    margin-top: 15px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(7, 48, 110, 0.736);
    color: #fcfcfc;
    border: #007bff 1px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px 0;
  }
  
  .dropdownContainer:hover .dropdown {
    display: flex;
  }
  
  .dropdown li {
    font-family: "Poppins", sans-serif;
    list-style: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
  }
  
  .dropdown li:hover {
    background-color: #05050508;
    color: #007bff;
  }
  
  .dropdown li div {
    cursor: pointer;
  }
  
  .dropdown li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
  }
  
  .dropdown li a:hover {
    color: #007bff;
  }
  