.fof{
    font-size: 15rem;
    margin-top: 150px;
    text-align: center;
}
.txt{
    font-size: 2rem;
    margin-top: 2px;
    text-align: center;
}
.not {
    padding: 15px 25px;
    margin: auto;
    display: flex;
    align-items: center;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .not::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .not:hover {
    color: #e8e8e8;
   }
   
   .not:hover::before {
    width: 100%;
   }